header {
    background-color: rgb(52, 80, 107);
    color: bisque;
    text-align: center;
    background-image: url(/assignment/record.png);
    width: fit-content;
    
  }

main {
    background-color:  rgb(156, 30, 30);
    background-image: url(/assignment/record.png);
    background-repeat: repeat;
    padding: 1em;
    color: bisque
    
}

body {
    margin: 0;
    
}

